*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background: linear-gradient(45deg, #d8d8cf,  #f78215);

}
.container{
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    width: 95%;
    height: 800px;
    border: 4px solid rgb(226, 40, 179);
    border-radius: 50px;
box-shadow:  -20px -20px 60px #bebebe,
             20px 20px 60px #ffffff;
}
.container h1{
    text-align: center;
    text-decoration: underline;
    font-size: 28px;
    color: rgb(255, 252, 252);
}
.content{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}
.content .color{
    list-style: none;
    margin: 13px;
    padding: 7px;
    border-radius: 6px;
    background: #fff;
    text-align: center;
    box-shadow: 0 10px 20px rgba(52,87,220,0.08);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.content .color:active{
    transform: scale(0.95);
    filter: blur(1px);
    
}
.color:hover .box{
    filter: brightness(106%);
}
.color .box{
    width: 185px;
    border-radius: 5px;
    height: 188px;
    background: red;
}
.color .hex-value{
    display: block;
    color: #444;
    font-size: 18px;
    font-weight: 500;
    margin: 12px 0;
    text-transform: uppercase;
}
.generate{
    position: fixed;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    outline: none;
    padding: 12px 20px;
    color: #fff;
    background: rgb(64, 238, 64);
    box-shadow: 0 10px 20px rgba(52,87,220,0.08);
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
    border: 2px dashed grey;
    transition: 0.3s all ease;
    margin-top: 20;

}
.generate:hover{
    border: 2px dashed rgb(0, 0, 0);
    background: rgb(38, 164, 38);
}

@media screen and (max-width: 510px) {
    .content{
        margin: 10px;

    }
    .content .color{
        margin: 8px;
        padding: 5px;
        
    }
    .color .box{
        width: 145px;
        height: 148px;
    }
    .color .hex-value{
        font-size: 14px;
    }
    
}
.text{
    text-align: center;
    bottom: 10px;
}
.note{
    text-align: center;
    font-size: 18px;
}
